@font-face {
  font-family: "iconfont"; /* Project id 5195036 */
  src: url('iconfont.woff2?t=1782379624897') format('woff2'),
       url('iconfont.woff?t=1782379624897') format('woff'),
       url('iconfont.ttf?t=1782379624897') format('truetype');
}

.iconfont {
  font-family: "iconfont", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ts-share::before {
  content: "\e60a";
}

.ts-password::before {
  content: "\e60c";
}

.ts-map::before {
  content: "\e620";
}

.ts-view::before {
  content: "\e63e";
}

.ts-error-403::before {
  content: "\e685";
}

.ts-error-401::before {
  content: "\e683";
}

.ts-error-500::before {
  content: "\e687";
}

.ts-error-404::before {
  content: "\e684";
}

.ts-logout::before {
  content: "\e73c";
}

.ts-full-screen::before {
  content: "\e60d";
}

.ts-timer::before {
  content: "\e61d";
}

.ts-visible::before {
  content: "\e624";
}

.ts-invisible::before {
  content: "\e626";
}

.ts-permission::before {
  content: "\e60e";
}

.ts-page-error::before {
  content: "\e64c";
}

.ts-copy::before {
  content: "\e6dd";
}

.ts-paste::before {
  content: "\e669";
}

.ts-guide::before {
  content: "\e688";
}

.ts-notice::before {
  content: "\e69b";
}

.ts-zoom-in::before {
  content: "\e608";
}

.ts-zoom-out::before {
  content: "\10225";
}

.ts-earth::before {
  content: "\e61c";
}

.ts-level::before {
  content: "\e679";
}

.ts-more::before {
  content: "\e64b";
}

.ts-overview::before {
  content: "\e6f7";
}

.ts-flag::before {
  content: "\e686";
}

.ts-close::before {
  content: "\e625";
}

.ts-rule::before {
  content: "\e61b";
}

.ts-right-arrow::before {
  content: "\e644";
}

.ts-left-arrow::before {
  content: "\e647";
}

.ts-confirm::before {
  content: "\e6db";
}

.ts-team::before {
  content: "\e600";
}

.ts-upload::before {
  content: "\e628";
}

.ts-setting::before {
  content: "\e64e";
}

.ts-score::before {
  content: "\e621";
}

.ts-fourth::before {
  content: "\e66e";
}

.ts-search::before {
  content: "\e605";
}

.ts-shield::before {
  content: "\e62b";
}

.ts-first::before {
  content: "\e616";
}

.ts-third::before {
  content: "\e618";
}

.ts-edit::before {
  content: "\e601";
}

.ts-badge::before {
  content: "\e617";
}

.ts-filter::before {
  content: "\e6c7";
}

.ts-remark::before {
  content: "\e619";
}

.ts-second::before {
  content: "\e744";
}

.ts-user::before {
  content: "\e64d";
}

.ts-shirt::before {
  content: "\e602";
}

.ts-crown::before {
  content: "\e7a9";
}

.ts-score2::before {
  content: "\e603";
}

.ts-star::before {
  content: "\e661";
}

.ts-schedule::before {
  content: "\e604";
}

.ts-log::before {
  content: "\e668";
}

.ts-location::before {
  content: "\e606";
}

.ts-link::before {
  content: "\e676";
}

.ts-city::before {
  content: "\e79c";
}

.ts-back::before {
  content: "\e612";
}

.ts-international::before {
  content: "\e607";
}

.ts-pitch::before {
  content: "\e6c1";
}

.ts-configuration::before {
  content: "\e6af";
}

.ts-trophy::before {
  content: "\e61a";
}

.ts-dashboard::before {
  content: "\e70f";
}

.ts-delete::before {
  content: "\e6b4";
}

.ts-document::before {
  content: "\e60b";
}

.ts-translate::before {
  content: "\11c42";
}

.ts-trend::before {
  content: "\e62c";
}

.ts-add::before {
  content: "\e642";
}

.ts-position::before {
  content: "\e715";
}

.ts-peak::before {
  content: "\e663";
}

.ts-reset::before {
  content: "\e77d";
}

.ts-refresh::before {
  content: "\e6a7";
}

.ts-rank::before {
  content: "\ecae";
}

.ts-import::before {
  content: "\e609";
}

.ts-save::before {
  content: "\eb56";
}

.ts-skip::before {
  content: "\e657";
}

